* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dddddd;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
    padding: 20px 30px;
}

li {
    width: calc(100% / 6);
    background-color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 20px;
}

li div:first-child {
    font-size: 50px;
    margin-bottom: 5px;
}

li span {
    font-weight: bold;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}